@charset "utf-8";

:root{
    --paleblue: #e0e8ff;
    --brightblue: #3829e0;
    --verypaleblue: #f5f7ff;
    --desaturatedblue: #7280a7;
    --darkblue: #1f2f56;
    --mobile: <svg xmlns="http://www.w3.org/2000/svg" width="375" height="194"><path fill="#D6E1FF" fill-rule="evenodd" d="M-131.808 155.366c97.026 51.512 204.233 51.512 321.62 0 117.388-51.512 223.27-51.512 317.648 0V0h-639.268v155.366z"/></svg>;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../images/pattern-background-desktop.svg) repeat-x;
    background-color: var(--paleblue);
    font-family: 'Red Hat Display', serif;
}

.card{
    background: url(../images/illustration-hero.svg) repeat-x;
}

@media (min-width: 350px) {    
    main{
        padding: 20px;
        display: flex;
        flex-direction: column; 
    }
    .card{
        background-image: url(../images/illustration-hero.svg);
        width: 100%;
        height: 220px;
        border-radius: 15px 15px 0 0 ;
    }
    .descricao{
        text-align: center;
        background-color: var(--verypaleblue);
    }
    .descricao h1{
        margin: 20px;
        font-weight: 900;
    }
}