@charset "utf-8";

:root{
    --paleblue: #e0e8ff;
    --palebluefundo: #e0e8ff41;
    --brightblue: #3829e0;
    --brightbluesombra: #3829e02d;
    --verypaleblue: #f5f7ff;
    --desaturatedblue: #7280a7;
    --darkblue: #1f2f56;
    --mobile: <svg xmlns="http://www.w3.org/2000/svg" width="375" height="194"><path fill="#D6E1FF" fill-rule="evenodd" d="M-131.808 155.366c97.026 51.512 204.233 51.512 321.62 0 117.388-51.512 223.27-51.512 317.648 0V0h-639.268v155.366z"/></svg>;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../images/pattern-background-desktop.svg) repeat-x;
    background-color: var(--paleblue);
    font-family: 'Red Hat Display', serif;
}
main{
    max-width: 50vh;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.card{
    background: url(../images/illustration-hero.svg) no-repeat;
    max-width: 100%;
}
ul{
    list-style: none;
}
.lista{
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;   
    background-color: var(--palebluefundo); 
    width: 50%;
    height: 81px;    
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
}
.musicaicon{
    background: url(../images/icon-music.svg);
    width: 48px;
    height: 48px;
}
#anualplano{
    font-weight: 900;
}
#preco{
    color: var(--desaturatedblue);
}
a{
    font-weight: 700;
}

@media (min-width: 350px) {    
    main{
        padding: 20px;
        display: flex;
        flex-direction: column; 
    }
    .card{
        background-image: url(../images/illustration-hero.svg);
        width: 100%;
        height: 220px;
        margin-top: 50px;
        border-radius: 15px 15px 0 0 ;
    }
    .descricao{
        text-align: center;
        background-color: white;
        border-radius: 0 0 15px 15px;
    }
    .descricao h1{
        margin: 20px;
        font-weight: 900;
    }
    .detalhes{
        margin: 25px 10px 25px 10px;
        font-size: 16px;
        font-weight: 500;
        color: var(--desaturatedblue);
    }
    .plano{
        margin: 25px 0 25px 0;
    }
    .musicaicon{        
    }
    button{
        border: none;
        border-radius: 10px;
        margin: 25px 0 25px 0;
        font-size: 18px;
        font-weight: bolder;
        color: var(--verypaleblue);
        background-color: var(--brightblue);
        width: 90%;
        height: 50px;
        box-shadow: 1px 15px 10px 1px var(--brightbluesombra);
    }
    .cancelar{
        margin: 10px 0 35px 0;
        font-size: 16px;
        font-weight: 900;
        color: var(--desaturatedblue);
    }
}